// --------------------------------------------------------------------------------
// Navegadores de la Web
// --------------------------------------------------------------------------------
// NAV Menú
// ----------------------------------------------------------
nav#menu {
    padding: rem($gutter);
    
    @include bp(md) {
        padding: rem($gutter) rem($gutter*5);
    }

    .navbar-brand {
        width: 50vw;

        @include bp(md) {
            position: relative;
            width: 20vw;
        }
    }

    .navbar-toggler {
        color: $white!important;
        border-color: $white!important;
    }

    button {
        &:focus {
            outline: none!important;
        }
    }

    &.navbar {
        &.bg-dark {
            background: rgba($black, .95) !important;
        }

        .nav-link {
            display: block;
            color: $white;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            font-size: rem(17);
        }

        .nav-item {
            padding-right: rem(20);

            @media (min-width: 1600) {
                padding-right: rem(40);
            }

            &:last-of-type {
                padding-right: 0;
            }
        }

        .navbar-nav {

            flex-flow: row wrap;
            margin: rem($gutter) 0; 

            @include bp(md) {
                margin: inherit;
            }

            .nav-link {
                display: block;

                text-decoration: none;
                position: relative;
                transition: all .3s cubic-bezier(.2, 0, 0, 1);
                z-index: 1;

                &:after {
                    @include bp(md) {
                        content: '';
                        display: block;
                        height: 0;
                        position: absolute;
                        bottom: 0;
                        right: 1.25rem;
                        left: 1.25rem;
                        background-color: $red;
                        transition: all 0.3s cubic-bezier(0.4, 0.2, 0.1, 1);
                        transform-origin: bottom center;
                        z-index: -1;
                        transform: translate(20px, 20px) scale(2.1);
                        max-width: 50%;
                    }
                    
                    @media (min-width: 1600) {
                        transform: translate(10px, 20px) scale(2.1);
                        max-width: 80%;
                    }
                }

                &:hover {
                    color: $white;

                    &:after {
                        right: 0;
                        left: 0;
                        height: 100%;
                    }
                }
            }
        }


    }

    .members-action {
        ul li {
            margin: 0 rem(5);
        }

        i {
            &:before {
                margin-right: rem(10);
            }
        }
    }
}
